name: e2e

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum
            .bingo/**.sum
      - name: Run the e2e suite
        run: make e2e
